body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    background-color: #0b8185;
    color: #333333;
    overflow-x: true;
    display: flex;
    margin: 0;
    width: 100%;
}

nav.navigation-bar {
    top: 0px;
    width: 100%;
    height: 46px;
    background-color: #0b8185;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    font-family: Oswald, Impact, Arial, sans-serif;
    line-height: 1;
    z-index: 999;
    display: flex;
    flex-direction: row;
    position: relative;
}

nav.navigation-bar .entry {
    float: left;
    display: block;
    color: #0b8185 !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 500ms;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}

nav.navigation-bar .entry a {
    color: #f2f2f2 !important;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a {
    background-color: transparent;
    color: #006bf4;
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav#navigation-bar .icon {
    filter: drop-shadow(0 1px rgba(0, 0, 0, 0.2));
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    font-size: inherit;
    color: inherit;
    vertical-align: -0.125em;
}

nav.navigation-bar .entry:hover {
    background-color: #1f5f6169;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

nav.navigation-bar .left-side-entries {
    display: flex;
    flex-grow: 1;
    flex-flow: wrap;
    overflow: hidden;
}